@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 2px solid black;
} */

@layer components {
  .dflex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bb {
    border: 2px solid black;
  }
}
